---
http_interactions:
- request:
    method: get
    uri: http://saccounty.cloudapi.junar.com/api/v2/datastreams/COUNT-CONTR/data.json/?auth_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"fLength":4603,"fType":"ARRAY","fTimestamp":1456219769648,"fArray":[{"fStr":"Contract
        Number","fHeader":true,"fType":"TEXT"},{"fStr":"Item Number","fHeader":true,"fType":"TEXT"},{"fStr":"Contract
        Type","fHeader":true,"fType":"TEXT"},{"fStr":"Vendor Name","fHeader":true,"fType":"TEXT"},{"fStr":"Contract
        Value","fHeader":true,"fType":"TEXT"},{"fStr":"Material Description","fHeader":true,"fType":"TEXT"},{"fStr":"Contract
        Start Date","fHeader":true,"fType":"TEXT"},{"fStr":"Contract End Date","fHeader":true,"fType":"TEXT"},{"fStr":"MA00024027","fType":"TEXT"},{"fStr":"10","fType":"TEXT"},{"fStr":"MK","fType":"TEXT"},{"fStr":"ACT1
        PERSONNEL SERVICES","fType":"TEXT"},{"fNum":5745000.0,"fType":"NUMBER","fDisplayFormat":{"fPattern":"$#,###.00","fLocale":"US","fLang":"en"}},{"fStr":"Temporary
        Clerical Personnel Service","fType":"TEXT"},{"fNum":1229817600000.0,"fType":"DATE","fDisplayFormat":{"fPattern":"d/m/yy","fLocale":"US","fLang":"en"}},{"fNum":1404086400000.0,"fType":"DATE","fDisplayFormat":{"fPattern":"d/m/yy","fLocale":"US","fLang":"en"}},{"fStr":"MA00024027","fType":"TEXT"},{"fStr":"20","fType":"TEXT"},{"fStr":"MK","fType":"TEXT"},{"fStr":"ACT1
        PERSONNEL SERVICES","fType":"TEXT"},{"fNum":500.0,"fType":"NUMBER","fDisplayFormat":{"fPatt[...]
