---
http_interactions:
- request:
    method: get
    uri: http://saccounty.cloudapi.junar.com/api/v2/datastreams/OUTST-CHECK-FROM-COUNT-OF/data.json/?auth_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"fLength":7018,"fType":"ARRAY","fTimestamp":1456944066388,"fArray":[{"fStr":"Check
        Date","fHeader":true,"fType":"TEXT"},{"fStr":"Check Number","fHeader":true,"fType":"TEXT"},{"fStr":"Check
        Amount","fHeader":true,"fType":"TEXT"},{"fStr":"Payee Name","fHeader":true,"fType":"TEXT"},{"fStr":"7/31/15","fType":"TEXT"},{"fStr":"1102063622","fType":"TEXT"},{"fStr":"$15.00","fType":"TEXT","fDisplayFormat":{"fPattern":"$
        #,###.##","fLocale":"us","fLang":"en"}},{"fStr":"CHICAGO TITLE COMPANY","fType":"TEXT"},{"fStr":"7/31/15","fType":"TEXT"},{"fStr":"1102063630","fType":"TEXT"},{"fStr":"$177.97","fType":"TEXT","fDisplayFormat":{"fPattern":"$
        #,###.##","fLocale":"us","fLang":"en"}},{"fStr":"DAVIS FAMILY HOLDING LP","fType":"TEXT"},{"fStr":"7/31/15","fType":"TEXT"},{"fStr":"1102063632","fType":"TEXT"},{"fStr":"$164.41","fType":"TEXT","fDisplayFormat":{"fPattern":"$
        #,###.##","fLocale":"us","fLang":"en"}},{"fStr":"DILLS THURMAN L/LI[...]
