---
http_interactions:
- request:
    method: get
    uri: http://saccounty.cloudapi.junar.com/api/v2/datastreams/PROCE-SERVE-LISTI/data.json/?auth_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"fLength":209,"fType":"ARRAY","fTimestamp":1456861711339,"fArray":[{"fStr":"Reg
        Nbr","fHeader":true,"fType":"TEXT"},{"fStr":"Type","fHeader":true,"fType":"TEXT"},{"fStr":"Name
        of Registrant","fHeader":true,"fType":"TEXT"},{"fStr":"DBA (if applicable)","fHeader":true,"fType":"TEXT"},{"fStr":"Expiration
        Date","fHeader":true,"fType":"TEXT"},{"fStr":"Telephone","fHeader":true,"fType":"TEXT"},{"fStr":"2015-59","fType":"TEXT"},{"fStr":"INDIVIDUAL","fType":"TEXT"},{"fStr":"AANERUD,
        STEVE","fType":"TEXT"},{"fStr":"","fType":"TEXT"},{"fStr":"Sep 23, 2017","fType":"TEXT"},{"[...]
