---
http_interactions:
- request:
    method: get
    uri: http://saccounty.cloudapi.junar.com/api/v2/datastreams/RFI/data.json/?auth_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"fLength":5578,"fType":"ARRAY","fTimestamp":1457290787224,"fArray":[{"fStr":"Facility
        ID","fHeader":true,"fType":"TEXT"},{"fStr":"Facility Name","fHeader":true,"fType":"TEXT"},{"fStr":"Address","fHeader":true,"fType":"TEXT"},{"fStr":"City","fHeader":true,"fType":"TEXT"},{"fStr":"Zip","fHeader":true,"fType":"TEXT"},{"fStr":"Phone","fHeader":true,"fType":"TEXT"},{"fStr":"Report
        ID","fHeader":true,"fType":"TEXT"},{"fStr":"Result","fHeader":true,"fType":"TEXT"},{"fStr":"Last
        Inspection Date","fHeader":true,"fType":"TEXT"},{"fStr":"Inspection Type","fHeader":true,"fType":"TEXT"},{"fStr":"Coordinates","fHeader":true,"fType":"TEXT"},{"fStr":"Data
        Last Updated","fHeader":true,"fType":"TEXT"},{"fStr":"FA0001052","fType":"TEXT"},{"fStr":"CLASSIQUE
        CATERING [2nd Floor Prep]","fType":"TEXT"},{"fStr":"1100 14TH ST","fType":"TEXT"},{"fStr":"SACRAMENTO","fType":"TEXT"},{"fStr":"95814","fType":"TEXT"},{"fStr":"(916)
        446-1215","fType":"TEXT"},{"fStr":"{D3AE76DF-E21C-4230-A2E4-565AEADD51F8}","fType":"TEXT"},{"fStr":"GN","fType":"TEXT"},{"fStr":"8/12/2015
        0:00:00","fType":"TEXT","fDisplayFormat":{"fPattern":"m/d/yy","fLocale":"US","fLang":"en"}},{"fStr":"ROUTINE
        INSPECTION","fType":"TEXT"},{"fStr":"38.5784079047, -121.4875056684","fType":"TEXT"},{"fStr":"03/05/2016  4:00PM","fType":"TEXT"},{"fStr":"FA0001052","fType":"TEXT"},{"fStr":"CLASSIQUE
        CATERING [3rd Floor Pantry]","fType":"TEXT"},{"fStr":"1100 14TH ST","fType":"TEXT"},{"fStr":"SACRAMENTO","fType":"TEXT"},{"fStr":"95814","fType":"TEXT"},{"fStr":"(916)
        446-1215","fType":"TEXT"},{"fStr":"{E30953E6-66D6-48F4-8BF2-3D4C6EA22FB0}","fType":"TEXT"},{"fStr":[...]
